<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">
      <div style="text-align:center">
        <h2>Create a product</h2>
      </div>

      <div>



        <div class="form-group">
          <label class="form-control-label" for="field_name">Product Name</label>
          <input type="text" class="form-control" name="name" id="field_name"
                 [(ngModel)]="name"/>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price"
                 [(ngModel)]="price"/>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_qty">Quantity</label>
          <input type="number" class="form-control" name="qty" id="field_qty"
                 [(ngModel)]="qty"/>
        </div>

      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="resetState()">
          <span>Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
