<div class="col-3 card-header, align-content-center">

  <div class="form-group">
    <label for="listFilter">Filter By</label>
    <input  type="text" [(ngModel)]= "listFilter" class="form-control" name="listFilter" id="listFilter" aria-describedby="emailHelp" placeholder="Enter Search text">
    <small id="emailHelp" class="form-text text-muted">Enter a text to search</small>
  </div>
</div>


<div *ngIf = "productlist" class="table-responsive" style="padding:10px">
  <div> Product List</div>
  <table class="table">
    <thead>
    <tr>

      <th>ID</th>
      <th>Product name</th>
      <th>Quantity in stock</th>
      <th>Price per item</th>
      <th>Datetime submitted</th>
      <th>Total value number</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let product of filteredList">
    <tr>
      <th>  {{ product?.id }} </th>
      <th>  {{ product?.name }} </th>
      <th>  {{ product?.price | currency: 'USD': '$' }} </th>
      <th>{{ product?.qty }}</th>
      <th>{{ product?.created_at }}</th>
      <th>{{ product.price * product.qty  | currency: 'USD': '$'}}</th>
      <th> <button mat-raised-button (click)= "onSelect(product)" data-toggle="modal" data-target="#exampleModal" color="primary">Update</button></th>
    </tr>

    </tbody>
  </table>

  <p>Page {{details.current_page}} of {{details.last_page}}</p>
  <button class="btn btn-secondary" (click)="prevPage()" [disabled]="!details.prev_page_url" >Prev</button>
  <button class="btn btn-secondary"(click)="nextPage()" [disabled]="!details.next_page_url">Next</button>

</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">
          <div style="text-align:center">
            <h2>Create a product</h2>
          </div>

          <div>
            <div class="form-group">
              <label class="form-control-label" for="field_id">Product Name</label>
              <input readonly type="text" class="form-control" name="id" id="field_id"
                     [(ngModel)]="id"/>
            </div>


            <div class="form-group">
              <label class="form-control-label" for="field_name">Product Name</label>
              <input type="text" class="form-control" name="name" id="field_name"
                     [(ngModel)]="name"/>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_price">Price</label>
              <input type="number" class="form-control" name="price" id="field_price"
                     [(ngModel)]="price"/>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_qty">Quantity</label>
              <input type="number" class="form-control" name="qty" id="field_qty"
                     [(ngModel)]="qty"/>
            </div>

          </div>
          <div>

            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
              <span>Save</span>
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
